# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# Virtual Environment
.venv/

# Environment Variables
.env

# Databases
*.db
*.sqlite
*.sqlite3

# Logs
*.log

# Data
data/raw/
.pytest_cache/
.coverage
htmlcov/
dist/
build/
*.egg-info/
.DS_Store
.ipynb_checkpoints/
